.container {
  display: flex;
  align-items: center;
  gap: 15px;

  .inputContainer {
    width: 500px;
    height: 50px;

    .input {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 5px;
      padding: 0 15px;
      outline: none;
      border: none;
      font-size: 22px;
      transition: border-color 0.3s;
    }
  }
}
