.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    padding: 40px 15px;
    height: fit-content;
  }

  .innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 65%;
  }
}
